 @import url("reset.css") ;
 @import url("row-grid.css") ;
 @import url("padrao-formulario.css") ;
 @import url("tables.css") ;
 @import url("panel.css") ;
 @import url("media-screen.css") ;
 @import url("helpers.css") ;

/* Configurações básicas com footer sempre no bottom */
.geral {
  min-height:100%;
  position:relative;
  margin: 0 auto;
}
.content {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 15em;
  z-index: 9999;
  position: relative;
}
.footer {
  width: 100%;
  position:absolute;
  bottom:0;
  z-index: 9999;
}



